.homeIcon {
    color: #AA182C;
    margin-right: 10px;
}

.hrLine {
    color: #AA182C;
    height: 1px;
    width: 70px;
}
.vectorImg {
    width: auto;
    height: 322px;
    position: absolute;
    right: -104px;
    top: -24px;
    z-index: 99;
}
.sectionContainer{
    padding: 50px 0px;
}
.vectorImg1{
    width: auto;
    position: absolute;
    left: -8px;
    top: 300px;
    height: 150px;
}
.PrincipalImg{
    position: absolute;
    height: 480px;
    top: -460px;
    right: -104px;
}
.vectorImg2{
    right: -54px;
    position: absolute;
    bottom: -245px;
    height: 160px;
}



@media only screen and (max-width: 600px) {
    .vectorImg{
        width: auto;
        height: 100px;
        position: absolute;
        right: 0px;
        top: 158px;
        z-index: 1;
    }

    .vectorImg2 {
        width: auto;
        position: absolute;
        right: 0;
        top: 285px;
        height: 100px;
    }

    .vectorImg1 {
        right: 1px;
        position: absolute;
        bottom: -38px;
        height: 100px;
    }

    .PrincipalImg {
        position: unset;
        width: 100%;
        height: 100%;
        padding-top: 20px;
    }

    .sectionContainer {
        padding: 0px;
    }
}


@media only screen and (min-width: 601px) and (max-width: 767px) {

    .PrincipalImg {
        position: unset;
        height: 480px;
    }
    .vectorImg {
        width: auto;
        height: 125px;
        position: absolute;
        right: -30px;
        top: 160px;
        z-index: 1;
    }
    .vectorImg1 {
        width: auto;
        position: absolute;
        left: -5px;
        top: 300px;
        height: 100px;
    }
    .vectorImg2{
        right: -30px;
        position: absolute;
        bottom: -135px;
        height: 100px;
    }

}

@media only screen and (min-width: 768px) and (max-width: 990px) {

    .vectorImg {
        width: auto;
        height: 125px;
        position: absolute;
        right: -23px;
        top: 195px;
        z-index: 1;
        padding: 0;
    }

    .vectorImg1 {
        width: auto;
        position: absolute;
        left: -5px;
        top: 330px;
        height: 95px;
    }

    .vectorImg2 {
        right: -24px;
        position: absolute;
        bottom: -134px;
        height: 100px;
    }

    .PrincipalImg {
        position: unset;
        height: 480px;
    }

}