.classContent{position: relative;}

.classContent::after{content: "";
    position: absolute;
    top: -203px;
    left: 57px;
    width: 100%;
    height: 100%;
    background: url(/assets/vectors/circle-vector.png);
    background-size: 142px;
    background-position: bottom right;
    background-repeat: no-repeat;
    z-index: 1;}

@media only screen and (max-width: 660px) {

    .classContent::after{left:0;}

    .classContent{z-index: 1;}


}
