.homeIcon {
    color: #AA182C;
    margin-right: 10px;
}

.hrLine {
    color: #AA182C;
    height: 2px;
    width: 70px;
}

.vectorImg1 {
    width: auto;
    height: 280px;
    position: absolute;
    right: -104px;
    top: -30px;
    padding: 0px;
    z-index: 1;
}

.schlBusImg {
    width: 100%;
    position: absolute;
    top: -185px;
    right: -58px;
}

.vectorImg11 {
    position: absolute;
    height: 150px;
    left: -130px;
    bottom: -160px;
}

.sectionPdng {
    padding-top: 100px;
    padding-bottom: 250px;
}



@media only screen and (max-width: 600px) {

    .vectorImg1 {
        width: auto;
        height: 100px;
        position: absolute;
        right: 0px;
        top: 157px;
        padding: 0px;
        z-index: 1;
    }

    .sectionPdng {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .schlBusImg {
        width: 100%;
        position: unset;
    }

    .vectorImg11 {
        position: absolute;
        height: 50px;
        left: 0px;
        bottom: -335px;
    }

}