.dropdowns button{background-color: unset !important;border: none;color: #000 !important;padding-left: 0;}

.dropdowns .dropdown-toggle::after{color: #a11928;}

.dropdowns button:hover{background-color: unset;border: none;color: #000;padding-left: 0;}

.dropdowns .btn:focus-visible{background-color: unset;border: none;color: #000;padding-left: 0;}

.dropdowns .btn:first-child:active{background-color: unset !important;border: none;color: #000;padding-left: 0;}

.dropdowns .dropdown-toggle::after{color: #9e1928;}

.eventGallery{position: relative;}

.eventGallery::after{content: "";
    position: absolute;
    top: -120px;
    left: 0;
    width: 100%;
    height: 230px;
    background: url(/assets/vectors/vector13.png);
    background-size: 100px;
    background-position: top left;
    background-repeat: no-repeat;
    z-index: 1;}

.tabSpace{padding: 0;overflow-x: hidden;}

.eventText{margin-left: 67px;}

.dropdowns button::after{position: absolute;left: 80px;top: 24px;color: #992331;}

.tabNavLink{color: rgba(29, 29, 29, 1) !important;padding-left: 0;}

.dropMenu .tabNavLink{padding: 0;}