.homeIcon {
    color: #AA182C;
    margin-right: 10px;
}

.hrLine {
    color: #AA182C;
    height: 2px;
    width: 70px;
}

.vectorImg1 {
    width: auto;
    height: 280px;
    position: absolute;
    right: -104px;
    top: -30px;
    padding: 0px;
    z-index: 1;
}

.libraryImg {
    width: 100%;
    position: absolute;
    top: -185px;
    right: -58px;
}

.vectorImg5 {
    position: absolute;
    height: 150px;
    top: 296px;
    right: 0px;
}

.vectorImg10 {
    bottom: -25px;
    position: absolute;
    height: 170px;
    left: -175px;
}

.sectionPdng {
    padding-top: 50px;
    padding-bottom: 50px;
}

@media only screen and (max-width: 600px) {

    .vectorImg1 {
        width: auto;
        height: 100px;
        position: absolute;
        right: 0px;
        top: 157px;
        padding: 0px;
        z-index: 1;
    }
    .vectorImg5 {
        position: absolute;
        height: 70px;
        top: 400px;
        right: 0px;
    }

    .libraryImg{
        width: 100%;
        position: unset;
    }
    .vectorImg10 {
        bottom: -60px;
        position: absolute;
        height: 70px;
        left: 0px;
    }

}