.homeIcon {
    color: #AA182C;
    margin-right: 10px;
}

.hrLine {
    color: #AA182C;
    height: 2px;
    width: 70px;
}
.vectorImg1 {
    width: auto;
    height: 280px;
    position: absolute;
    right: -104px;
    top: -30px;
    padding: 0px;
    z-index: 1;
}
.labImg1{
    height: 407px;
    position: absolute;
    top: -260px;
}
.labImg2{
    height: 407px;
    right: 212px;
    position: relative;
}
.labImg3{
    height: 407px;
    right: -2px;
    position: relative;
}
.sectionPdng{
    padding-top: 5rem;
    padding-bottom: 3rem;
}
.vectorImg5{
    position: absolute;
    height: 150px;
    right: -91px;
    top: 80px;
}
.vectorImg10{
    position: absolute;
    height: 150px;
    left: -135px;
    bottom: 253px;
}



@media only screen and (max-width: 600px) {

    .vectorImg1 {
        width: auto;
        height: 100px;
        position: absolute;
        right: 0px;
        top: 157px;
        padding: 0px;
        z-index: 1;
    }
    .vectorImg5{
        position: absolute;
        height: 90px;
        right: 3px;
        top: 206px;
    }
    .vectorImg10 {
        position: absolute;
        height: 60px;
        left: 0;
        bottom: 440px;
    }
    .labImg1, .labImg2, .labImg3{
        position: unset;
        width: 100%;
        height: 100%;
    }
    .sectionPdng {
        padding-top: 5rem;
        padding-bottom: 5rem;
    }
    .order1{
        order: 1;
    }
    .order2{
        order: 2;
    }
}