.homeIcon {
    color: #AA182C;
    margin-right: 10px;
}

.hrLine {
    color: #AA182C;
    height: 1px;
    width: 70px;
}

.vectorImg1 {
    width: auto;
    height: 322px;
    position: absolute;
    right: -104px;
    top: -24px;
    z-index: 99;
}

.sectionContainer {
    padding: 50px 0px;
}

.vectorImg2 {
    width: auto;
    position: absolute;
    left: -8px;
    top: 300px;
    height: 150px;
}

.ChairmanImg {
    height: 480px;
    top: -300px;
    right: -104px;
    z-index: 1;
    position: relative;
}

.vectorImg7 {
    right: -54px;
    position: absolute;
    bottom: 5px;
    height: 160px;
}

@media only screen and (max-width: 600px) {
    .vectorImg1 {
        width: auto;
        height: 100px;
        position: absolute;
        right: 0;
        top: 158px;
        z-index: 1;
    }

    .vectorImg2 {
        width: auto;
        position: absolute;
        left: -8px;
        top: 285px;
        height: 100px;
    }

    .vectorImg7 {
        right: 1px;
        position: absolute;
        bottom: -38px;
        height: 100px;
    }

    .ChairmanImg {
        position: unset;
        width: 100%;
        height: 100%;
        padding-top: 20px;
    }

    .sectionContainer {
        padding: 0px;
    }
}


@media only screen and (min-width: 601px) and (max-width: 767px) {

    .ChairmanImg {
        position: unset;
        height: 480px;
    }

    .vectorImg1 {
        width: auto;
        height: 125px;
        position: absolute;
        right: -30px;
        top: 161px;
        z-index: 1;
        padding: 0;
    }

    .vectorImg2 {
        width: auto;
        position: absolute;
        left: -5px;
        top: 300px;
        height: 95px;
    }

    .vectorImg7 {
        right: 0;
        position: absolute;
        bottom: -50px;
        height: 100px;
    }

}

@media only screen and (min-width: 768px) and (max-width: 990px) {
    .vectorImg1 {
        width: auto;
        height: 125px;
        position: absolute;
        right: -23px;
        top: 195px;
        z-index: 1;
        padding: 0;
    }

    .vectorImg2 {
        width: auto;
        position: absolute;
        left: -5px;
        top: 300px;
        height: 95px;
    }

    .vectorImg7 {
        right: 0;
        position: absolute;
        bottom: -50px;
        height: 100px;
    }

    .ChairmanImg {
        position: unset;
        height: 480px;
    }

}