.homeIcon {
    color: #AA182C;
    margin-right: 10px;
}

.hrLine {
    color: #AA182C;
    height: 2px;
    width: 70px;
}

.vectorImg1 {
    width: auto;
    height: 280px;
    position: absolute;
    right: -104px;
    top: 42px;
    padding: 0px;
    z-index: 1;
}

.sectionPdng {
    padding-bottom: 100px;
}

.schoolBuildingImg {
    height: 500px;
    position: absolute;
    bottom: -117px;
    right: 45px;
}

.card1 {
    background-color: white;
    width: 736px;
    padding: 30px 40px;
    border: 2px solid #fff;
    border-radius: 0;
    margin-bottom: 0px;
    position: relative;
    top: -70px;
    left: 3px;
}

.Sec1vectorImg5 {
    position: absolute;
    left: -395px;
    height: 175px;
    top: -95px;
}

.Sec1vectorImg10 {
    position: absolute;
    height: 160px;
    right: -225px;
    bottom: 70px;
}

.tabUl {
    align-items: start;
    background-color: white;
    width: 240px;
}

.tabBtn {
    border-radius: 0px !important;
    padding: 14px 35px;
}

.redBorder {
    border-bottom: 1px solid #AA182C !important;
}

.widthInherit {
    width: inherit;
}

.leftIcon {
    color: #fff;
    position: absolute;
    left: 225px;
    font-size: 25px;
}

.Sec3vectorImg5 {
    position: absolute;
    top: 185px;
    right: -45px;
    height: 140px;
}

.Sec3vectorImg8 {
    position: absolute;
    right: -100px;
    top: 270px;
    height: 200px;
}

.Sec3vectorImg3 {
    position: absolute;
    height: 154px;
    left: -108px;
    bottom: -85px;
}

.Sec3vectorImg6 {
    position: absolute;
    top: -50px;
    right: -245px;
    height: 200px;
}

.card3 {
    background-color: white;
    width: 870px;
    padding: 20px 70px;
    position: absolute;
    right: 290px;
    top: 675px;
    border: 2px solid #fff;
    border-radius: 0;
}

.colpdngRt {
    padding-left: 10px;
    padding-top: 20px;
    padding-bottom: 8px;
    padding-right: 50px;
}

.colpdngLt {
    padding-right: 10px;
    padding-top: 20px;
    padding-bottom: 80px;
    padding-left: 50px;
}

.numberStyle {
    font-size: 95px;
    opacity: 0.1;
}

.cardmargin1 {
    margin-top: 12rem;
    margin-left: 222px;
}

.cardmargin3 {
    margin-top: 12rem;
    margin-left: 222px;
}

.studentImg {
    height: 450px;
}

.Sec2PdngBtm {
    padding-bottom: 350px;
}

.Sec2vectorImg6 {
    position: absolute;
    right: -199px;
    bottom: 11px;
    height: 190px;
}

.Sec2vectorImg3 {
    position: absolute;
    height: 150px;
    left: -682px;
    top: -60px;
}

.Sec2vmpsImg {
    position: absolute;
    top: -25px;
    left: 356px;
    height: 70px;
}

.sectionPdng4 {
    padding-top: 350px;
}

.plusIcon {
    color: #222;
    padding-right: 15px;
}

.minusIcon {
    color: #222;
    padding-right: 15px;
}

.paraPdng {
    padding-left: 35px;
}

.Sec4vectorImg11 {
    position: absolute;
    height: 170px;
    right: -100px;
    bottom: 0;
}

.Sec4vmpsImg {
    position: absolute;
    height: 70px;
    right: -150px;
    top: 340px;
}

.Sec4vectoImg10 {
    position: absolute;
    left: -160px;
    height: 140px;
    top: 100px;
}

.tabWidth {
    width: 250px;
    background-color: #fff;
}




@media only screen and (max-width: 600px) {
    .vectorImg1 {
        width: auto;
        height: 100px;
        position: absolute;
        right: 0px;
        top: -24px;
        padding: 0px;
        z-index: 1;
    }

    .Sec1vectorImg10 {
        position: absolute;
        height: 70px;
        right: 0px;
        bottom: -60px;
    }

    .schoolBuildingImg {
        height: 100%;
        width: 100%;
        position: unset;
        padding-top: 5rem;
    }

    .cardmargin1 {
        margin-top: 5rem;
        margin-left: 0px;
    }

    .card1 {
        background-color: white;
        border: 2px solid #fff;
        border-radius: 0;
        margin-bottom: 0px;
        position: unset;
        width: 100%;
        padding: 0%;
    }

    .sectionPdng {
        padding-bottom: 50px;
    }


    .Sec2vmpsImg {
        position: absolute;
        top: 17px;
        left: 10px;
        height: 20px;
    }

    .Sec2vectorImg6 {
        position: absolute;
        right: 0px;
        bottom: -521px;
        height: 90px;
    }

    .Sec2vectorImg3 {
        position: absolute;
        height: 90px;
        left: 0px;
        top: 660px;
    }

    .studentImg {
        width: 100%;
        height: 100%;
    }

    .Sec2PdngBtm {
        padding-bottom: 0px;
        order: 1;
    }

    .order3 {
        order: 3;
    }

    .order2 {
        order: 2;
    }


    .cardmargin3 {
        margin-top: 5rem;
        margin-left: 0px;
    }

    .Sec3vectorImg6 {
        position: absolute;
        top: 540px;
        right: -11px;
        height: 80px;
    }

    .Sec3vectorImg3 {
        position: absolute;
        height: 84px;
        left: 0px;
        bottom: -666px;
    }

    .Sec3vectorImg5 {
        position: absolute;
        top: 612px;
        left: 6px;
        height: 60px;
    }

    .colpdngLt,
    .colpdngRt {
        padding: 20px 20px;
    }

    .ulLineHeight {
        line-height: 35px;
    }

    .numberStyle {
        font-size: 60px;
        opacity: 0.1;
    }

    .sectionPdng4 {
        padding-top: 50px;
        padding-left: 25px;
        padding-right: 25px;
        padding-bottom: 30px;
    }

    .Sec4vectorImg11 {
        position: absolute;
        height: 70px;
        right: 2px;
        bottom: -76px;
    }

    .Sec4vmpsImg {
        position: absolute;
        height: 25px;
        right: 2px;
        top: 362px;
    }


}